
.ob-overlay {
  content: '';
  position: fixed;
  background-color: yellow;
  pointer-events: none;
  opacity: .4;
  border: 1px solid #222;
  border-radius: 3px;
  z-index: 999;
}
.ob-selectors {
  position: fixed;
  background-color: #BBB;
  pointer-events: none;
  border: 1px solid #444;
  border-radius: 3px;
  z-index: 999;
  padding: 3px 5px;

  font: 14px/16px Helvetica, sans;
  color: black;
}