@font-face {
 font-family: 'Ubuntu';
 font-weight: 500;
 src: url('chrome-extension://__MSG_@@extension_id__/fonts/Ubuntu/Ubuntu-Regular.ttf');
}

.sf-all {
  position: fixed;
  z-index: 999999999;
  border-radius: 3px;
  pointer-events: none;
}

.sf-all:active {
  /*pointer-events: auto;*/
}

/*.sf-all:hover {
  pointer-events: none;
}*/

#sf-highlight {
  content: '';
  background-color: #42fff640;
  border-radius: 0;
}

#sf-selector, #sf-alert {
  background-color: #0fc7e4;
  padding: 5px 8px;

  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: bold;
  letter-spacing: 0.5px;
  color: white;
}

.sf-cursor a, .sf-cursor div, .sf-cursor span, .sf-cursor img, .sf-cursor i, .sf-cursor button {
  cursor: default !important
}

.sf-cursor:active {
  pointer-events: none;
}