.dw-all {
  position: fixed;
  z-index: 999;
  border-radius: 3px;
  pointer-events: none;
}

#dw-highlight {
  content: '';
  opacity: .4;
  background-color: yellow;
  border: 2px solid #222;
}

#dw-selector {
  background-color: #BBB;
  border: 1px solid #444;
  padding: 3px 5px;
  font: 14px/16px Helvetica, sans;
  color: black;
}

#dw-alert {
  background-color: #FFF;
  border: 1px solid #444;
  padding: 3px 5px;
  font: 14px/16px Helvetica, sans;
  color: black;
}